* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.notes-page {
  width: 100%;
  height: 100vh;
  color: #000;
  background: url("https://cdn.pixabay.com/photo/2016/01/09/18/28/notepad-1130743_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow:auto;

}


.notes-page header {
  max-width: 1920px;
  background-color: #c7a575;
  color: #050505;
  padding: 10px;
  display: flex;
  align-items: center;

  margin: 0 auto;

  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.notes-page header ul li {
  display: inline-block;
  padding: 0 15px;
}

.notes-page header ul li a {
  display: inline-block;

  height: 2em;
  
  width: 2em;
  
  padding: 0.25em;
  
  border-radius: 50%;

}

.notes-page header ul li a:hover {
  color: #ff4584;
  background-color: yellow;
  border-radius: 50px;
}

.notes-page section {
  width: 100%;
  padding: 20px 0;
}

.logo h1 Link{
  color: #000;
}
.logo {
  
  padding: 5px 20px;
  border-radius: 50px;
  width: 200px;
}
.logo:hover{
  background-color: yellow;
  border: 0.5px solid rgb(228, 13, 13);
}



.create-note {
  max-width: 500px;
  box-shadow: rgb(136, 79, 6) 0px 7px 29px 0px;
  width: 100%;
  margin: auto;
  padding: 40px;
  padding-top: 20px;
  border-radius: 30px;

}

.create-note:hover {
  background-color: #fff;
}

.create-note h2 {
  color: #0d0d0e;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 1px;
  display: inline-block;
  border-bottom: 4px solid #ff4584;
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

.create-note .row {
  width: 100%;
  margin: 10px 0;
  margin-bottom: 20px;
}

.create-note .row label {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: black;
  font-weight: 300px;
  letter-spacing: 1px;
}

.create-note input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #151516;
  background: transparent;

}

.create-note button {
  font-size: 16px;
  letter-spacing: 1px;
  width: 150px;
  height: 40px;
  padding: 10px 20px;
  background: #ff4584;
  border-radius: 30px;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.create-note button:hover {
  background-color: blue;
}

*:focus {
  outline: none;
}


.create-note label {
  font-weight: bolder;
}

.create-note textarea {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #151516;
  background: transparent;
}


@media (max-width: 768px) {
  /* Styles for screens up to 768px */
  .notes-page header ul li {
    padding: 0 10px;
  }
  .notes-page section {
    width: 90%;
  margin: 20px;
  }
  .create-note {
    padding: 30px;
    padding-top: 15px;
  }

  .create-note h2 {
    font-size: 30px;
  }

  .create-note input,
  .create-note textarea {
    height: 30px;
    font-size: 14px;
  }

  .create-note button {
    font-size: 14px;
    width: 120px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  /* Styles for screens up to 480px */
  .notes-page header ul li {
    padding: 0 5px;
  }

  .logo {
    width: 150px;
  }

  .create-note {
    padding: 20px;
    padding-top: 10px;
  }

  .create-note h2 {
    font-size: 24px;
  }

  .create-note input,
  .create-note textarea {
    height: 25px;
    font-size: 12px;
  }

  .create-note button {
    font-size: 12px;
    width: 100px;
    height: 25px;
  }
}
