body {
  overflow: hidden;
}
.header {
 
  max-width: 1920px;
  background-color: #c7a575;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;

  margin: 0 auto;

  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-right: auto;
}

.logo a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo h1 {
  margin: 0;
  font-size: 1.5rem;
}

.logo svg {
  margin-right: 5px;
}
.login-page {
  margin: auto;
  position: relative;
  min-height: 100vh;
  width: 90%;
  height: 40px;
  padding: 0 5px;
  outline-width: none;
  border: none;
  overflow: hidden;
  border-bottom: 0.5px solid lightgrey;
}

.login input,
.register input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.login,
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page h3 {
  text-align: center;
  margin-top: 15px;
  color: #bf1a2f;
}

.register h3 {
  color: #45cb85;
}

.login-page p {
  margin: 10px 0;
  color: black;
}

.login-page span:hover {
  cursor: pointer;
  color: #bf1a2f;
}
.box {
  max-width: 500px;
    box-shadow: rgb(136, 79, 6) 0px 7px 29px 0px;
    width: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 20px;
    border-radius: 50px;
    overflow: hidden;
   
  }
  .box:hover{
    background-color: #fff;
  }
  
  .box h2 {
    color: #0d0d0e;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    letter-spacing: 1px;
 display: inline-block;
 border-bottom: 4px solid #ff4584;
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}



  
  .box input
 {
  
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border:1px solid #607d8b;
   font-size: 16px;
   letter-spacing: 1px;
   color: #151516;
   background: transparent;
   border-radius: 30px;
  }
  .box button{
    font-size: 16px;
    letter-spacing: 1px;
    width: 150px;
    height: 40px;
    padding: 10px 20px;
 background: #ff4584;
 border-radius: 30px;
 color: #fff;
 outline: none;
 border: none;
 font-weight: 500;
 cursor: pointer;
  }
  .box button:hover{
    
    background-color: blue;
  }
  .box p span {
    margin-bottom: 10px;
    color: #19191a;
    font-weight: 500;
    font-size: 15px;
  }
  .box h3{
    color: #ff4584;
  }
  
/* Media Queries for responsiveness */

@media (max-width: 768px) {
  .login-page {
    width: 80%;
  }

  .box {
    max-width: 100%;
    padding: 30px;
  }

  .box h2 {
    font-size: 30px;
  }

  .box button {
    width: 130px;
  }
}