.recycle-bin{
    max-width: 1920px;
  margin: auto;
}
.recycle-bin h2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #0d0d0e;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
  letter-spacing: 1px;

  border-bottom: 4px solid #ff4584;
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
.deleted-note-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.deleted-note-card{
    width: 300px;
  box-shadow: rgba(217, 190, 11, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  position: relative;
  color: rgb(6, 6, 6);
  padding-bottom: 5px;
  background-color: var(--card-bg-color);
}
.deleted-note-card .text-wrapper{
    width: 100%;
    height: 150px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    margin: 10px 0;
    color: #0c0c0c;
}
.deleted-note-card .date{
    text-align: left;
  color: rgb(0, 0, 0);
  opacity: 0.7;
  border-bottom: 0.5px solid lightgrey;
  padding-bottom: 10px;
}
.card-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-top: 5px;
}
.deleted-note-card .card-footer .restore{
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    padding: 0.25em;
    border-radius: 50%;
    margin-right: 12rem;
    background: transparent;
}
.deleted-note-card .card-footer .permanently-delete{
    
        display: inline-block;
        height: 2.5em;
        width: 2.5em;
        text-align: center;
        padding: 0.25rem;
        border-radius: 50%;
        background: transparent;
}
.card-footer .restore:hover{
    color: #ff4584;
    background-color: yellow;
    border-radius: 50px;
  }
  .card-footer .permanently-delete:hover {
    color: #ff4584;
    background-color: yellow;
    border-radius: 50px;
  }


/* Media queries for responsiveness */

@media (max-width: 768px) {
 
  .recycle-bin {
    justify-content: center;
  }

  .deleted-note-card {
    width: 100%;
    max-width: 400px;
  }

  .deleted-note-card .delete {
    top: 10px;
    right: 5px;
    height: 2.5em;
    width: 2.5em;
    font-size: 12px;
  }

 

  .deleted-note-card .text-wrapper {
    height: 120px;
  }

  .card-footer {
    font-size: 12px;
  }

  .card-footer .restore {
    height: 2em;
    width: 2em;
    font-size: 10px;
  }
  .card-footer .permanently-delete{
    margin-left: 15px;
    height: 2em;
    width: 2em;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
 
  .deleted-note-card  {
    max-width: 300px;
    margin: 10px;
  }

 
  .deleted-note-card  .text-wrapper {
    height: 100px;
    font-size: 12px;
  }

  .card-footer {
    font-size: 10px;
  }

  .card-footer .restore {
    height: 1.8em;
    width: 1.8em;
    font-size: 8px;
    margin-right: 15rem;
  }
}
